@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  font-family: "PT Sans", serif;
  background-color: #151817;
  cursor: url("data:image/svg+xml,%3Csvg height='10' width='10' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E")
      3 3,
    auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.circle {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #d011ed, #4c1ddb);
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
  z-index: 10;
}
#desc {
  animation: fadeIn 5s;
}
#head-grad {
  color: #4c1ddb;
  background-image: -webkit-linear-gradient(0deg, #4c1ddb, #d011ed, #d5d5d5);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.8) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.8) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box ul li {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid white;
  border-left: 0.3em solid transparent;
  list-style: none;
  opacity: 0;
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}
.box ul li:before,
.box ul li:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  transform: rotate(-35deg);
}
.box ul li:after {
  transform: rotate(35deg);
  transform: translateZ(0);
}
.box ul li:nth-child(2) {
  left: 36vw;
  animation-delay: 2s;
}
.box ul li:nth-child(3) {
  left: 22vw;
  animation-delay: 4s;
}
.box ul li:nth-child(4) {
  left: 56vw;
  animation-delay: 6s;
}
.box ul li:nth-child(5) {
  left: 76vw;
  animation-delay: 4s;
}
.box ul li:nth-child(6) {
  left: 80vw;
  animation-delay: 10s;
}
@keyframes animate {
  0% {
    transform: scale(0) rotate(0);
    opacity: 1;
    bottom: 100vh;
  }
  100% {
    transform: scale(5) rotate(360deg);
    opacity: 0;
    bottom: 0;
  }
}
.neu-proj {
  backdrop-filter: blur(13px) saturate(117%);
  -webkit-backdrop-filter: blur(13px) saturate(117%);
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 70%;
  height: 50px;
  box-shadow: 41px 41px 82px #080a09, -41px -41px 82px #222625;
}

/* @keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
} */
.lang {
  border-radius: 20px;
  background: #151817;
  box-shadow: 41px 41px 82px #080a09, -41px -41px 82px #222625;
}
